
body {
  display: flex;
  place-items: center;
  /* background-color: rgb(226, 223, 223); */
  color: rgba(12, 12, 118, 0.716);
  padding: 0 3em;
}

.container-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(226, 223, 223);
  margin-top: 10rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-left: 3rem;
  color: rgba(12, 12, 118, 0.716);
  font-family: sans-serif;
}